---

---

<div>
    <h4>Hora actual:</h4>
    <article>
        <p>{new Date().toLocaleDateString()},</p>
        <p id="clock"></p>
    </article>
</div>

<script>
    const clockElement = document.getElementById('clock') 
    const formatTime = () => {
    const now = new Date()
    return now.toLocaleTimeString('es-ES', {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
    })
    }

    if (clockElement) {
        clockElement.textContent = formatTime()
        setInterval(() => {
            clockElement.textContent = formatTime()
        }, 1000)
    }
</script>

<style>
    div {
        width: 100%;
        background-color: var(--color-secundario);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 0px; 
        gap: 10px;
    }

    p{
        color: #2563eb;
        font-size: 1.6rem;
        font-weight: 700;
    }
</style>