---
import CurrentTime from "../components/CurrentTime.astro";
import Section from "../components/Section.astro";
---

<Section>
    <article>
        <h1>Formateador de Tiempo JavaScript</h1>
        <p>Encuentra el código JavaScript perfecto para formatear fechas, horas y contadores. Copia y pega directamente en tu proyecto.</p>
    </article>
    <CurrentTime />
</Section>

<style>
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 80px 0px; 
        gap: 10px;
    }    

    p{
        max-width: 80ch;
    }
</style>