---
import CurrentTime from "../components/CurrentTime.astro";
import Section from "../components/Section.astro";
import githubIcon from "../assets/github.svg";
---

<Section>
    <article>
        <h1>Formateador de Tiempo JavaScript</h1>
        <p>Encuentra el código JavaScript perfecto para formatear fechas, horas y contadores. Copia y pega directamente en tu proyecto.</p>
        <div>
            <a href="https://github.com/OrlandoTellez/formatted-time">
                <img src={githubIcon.src} alt="github icono">
                Repositorio en GitHub
            </a>
        </div>
    </article>
    <CurrentTime />
</Section>

<style>
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 70px 0px; 
        gap: 10px;
    }    

    p{
        max-width: 80ch;
    }

    a{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        text-decoration: none;
        color: black;
        margin-top: 20px;
    }
</style>