---
// Supports weights 100-900
import '@fontsource-variable/roboto';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root{
		--color-principal: #f7f9fc;
		--color-secundario: #ffffff;
		--color-parrafos: #4b5563;
	}

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	body {
		width: 100%;
		font-family: 'Roboto', sans-serif;
	}

	h1{
		font-size: 2.5rem;
		font-weight: 700;
	}

	p{
		font-size: 1.2rem;
		font-weight: 400;
		color: var(--color-parrafos);
	}
</style>
